<section id="portafolio" class="seccion">
    <h2 class="porfolio__title">Portafolio</h2>
    <div class="contenedor-cards">
        <div class="cards">
            <div class="card">
                <div class="box">
                    <div class="imgBx">
                        <img src="assets/imagenes/proy1.png" alt="">
                    </div>
                    <div class="contentBx">
                        <div>
                            <h2>Buscador</h2>
                            <p>Buscador con filtros realizado con lógica escrita en JavaScript.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="imgBx">
                        <img src="assets/imagenes/proy2.png" alt="">
                    </div>
                    <div class="contentBx">
                        <div>
                            <h2>Paginación de Pókemons</h2>
                            <p>Paginación realizada con Fetch, consumiendo recursos de la API "PokeAPI".</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="imgBx">
                        <img src="assets/imagenes/proy3.png" alt="">
                    </div>
                    <div class="contentBx">
                        <div>
                            <h2>Buscador de series de TV y peliculas</h2>
                            <p>Buscador de shows de tv, consumiendo recursos brindados por la API de Tv Maze a través de Fetch.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="imgBx">
                        <img src="assets/imagenes/proy4.png" alt="">
                    </div>
                    <div class="contentBx">
                        <div>
                            <h2>Conversor de texto a voz</h2>
                            <p>Narrador utilizando API SpeechSynthesis, en donde logica escrita en JavaScript toma el texto ingresado por el usuario y le da salida mediante dispositivos de audio.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="imgBx">
                        <img src="assets/imagenes/proy5.png" alt="">
                    </div>
                    <div class="contentBx">
                        <div>
                            <h2>Generador de QR</h2>
                            <p>Este generador está realizado con lógica escrita en JavaScript, consumiendo datos de la API "qrserver".</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="imgBx">
                        <img src="assets/imagenes/proy6.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <div>
                            <h2>App de Clima</h2>
                            <p>A través de la API "openweathermap", utilizando JavaScript, se puede observar información relacionada al clima actual dependiendo de la ubicación del usuario.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
    <div class="btn-github">
        <a href="https://github.com/vamorilla" target="_blank" class="btn-lk">
            <span>Mis proyectos</span>
            <span>GitHub</span>
        </a>
    </div>
</section>
