<header>
    <img src="assets/imagenes/fondoPortfolio.jpg" class="banner" alt="Wallpaper laptop">
    <h2 class="logo">Vanesa Morilla</h2>
    <h3>Web Developer</h3>
    <span class="mouse">
        <span class="mouse-wheel"></span>
    </span>
    <div class="toggle"></div>
    <nav>
        <ul>
            <li><a href="#acercaDeMi">Acerca de mi</a></li>
            <li><a href="#portafolio">Portafolio</a></li>
            <li><a href="#habilidades">Habilidades</a></li>
        </ul>
    </nav>
</header>

