<section id="acercaDeMi" class="seccion">
    <h2 class="acerca-de-mi">Acerca de mi</h2>
    <div class="contenedor">
        <div class="contenedor-p-img">
            <div class="contenedor-p">
                <p>Hola! mi nombre es Vanesa y me entusiasma crear cosas para la web. Mi interés en esto comenzó a fines del año 2019, cuando consideré mi etapa profesional anterior cumplida. Decidí iniciarme de manera autodidacta con diversos cursos en HTML, CSS, JavaScript y otras tecnologias.</p>
                <p>Avancé muy rápido y aun sigo desarrollando nuevas habilidades y conocimientos. Soy una persona apasionada por aprender y emprender nuevos desafíos.</p>      
            </div>       
            <div class="contenedor-img">
                <img class="img" src="assets/imagenes/imagenPresentacion.jpg" alt="imagen de presentacion">
            </div>
        </div>                   
        <a href="https://www.linkedin.com/in/vamorilla/" target="_blank" class="btn-lk">
            <span class="btn-letra">Conocé más</span>
            <span class="btn-letra">LinkedIn</span>
        </a>       
    </div>    
</section> 
