<section id="habilidades" class="seccion">
    <h2 class="titulo__habilidades">Habilidades</h2>
    <div class="contenedor-hab">
        <div class="habilidades">
            <div class="habilidades__contenedor">
                <div class="habilidad">
                    <img class="tecnologia" src="assets/imagenes/tecnologias/html-5.png" alt="HTML5" title="HTML5">
                </div>
                <div class="habilidad">
                    <img class="tecnologia" src="assets/imagenes/tecnologias/css-3.png" alt="CSS3" title="CSS3">
                </div>
                <div class="habilidad">
                    <img class="tecnologia" src="assets/imagenes/tecnologias/js.png" alt="JavaScript" title="JavaScript">
                </div>
                <div class="habilidad">
                    <img class="tecnologia" src="assets/imagenes/tecnologias/git.png" alt="Git" title="Git">
                </div>
            </div>
            <div class="habilidades__contenedor">
                <div class="habilidad">
                    <img class="tecnologia" src="assets/imagenes/tecnologias/bootstrap.png" alt="Bootstrap" title="Bootstrap">
                </div>
                <div class="habilidad">
                    <img class="tecnologia" id="mysql" src="assets/imagenes/tecnologias/MySQL.png" alt="mysql" title="MySQL">
                </div>
                <div class="habilidad">
                    <img class="tecnologia" id="java" src="assets/imagenes/tecnologias/java.png" alt="java" title="Java">
                </div>
                <div class="habilidad">
                    <img class="tecnologia" id="springboot" src="assets/imagenes/tecnologias/springboot.png" alt="springboot" title="Spring Boot">
                </div>
            </div>
            <div class="habilidades__contenedor">
                <div class="habilidad">
                    <img class="tecnologia" id="angular" src="assets/imagenes/tecnologias/angular.png" alt="angular" title="Angular">
                </div>
                <div class="habilidad">
                    <img class="tecnologia" id="primeng" src="assets/imagenes/tecnologias/primeng.png" alt="primeng" title="primeNG">
                </div>
                <div class="habilidad">
                    <img class="tecnologia" id="typescript" src="assets/imagenes/tecnologias/typescript.png" alt="typescript" title="TypeScript">
                </div>
            </div>
        </div>
    </div>
</section>
